@charset "UTF-8";

/* Reset styles */
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: inherit;
  font-style: inherit;
  font-variant: inherit;
  font-size: inherit;
  line-height: inherit;
  vertical-align: baseline;
}

b {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-style: inherit;
  font-variant: inherit;
  font-size: inherit;
  line-height: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  border-style: none;
  cursor: pointer;
}

button::-moz-focus-inner {
  border: none;
}

/* Dark Theme Styles */
html,
body {
  background-color: #121212; /* Dark background */
  color: #ffffff; /* White text */
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

a,
a:hover {
  color: #1cac1d; /* Primary color for links */
  text-decoration: none;
}

button {
  background-color: #1e1e1e; /* Dark button background */
  color: #ffffff; /* White text */
  border-radius: 5px;
  padding: 10px 15px;
}

button:hover {
  background-color: #333333; /* Slightly lighter on hover */
}

.activeNavLink {
  background-color: #1e1e1e !important; /* Darker background for active links */
  pointer-events: none;
}

.rounded {
  border-radius: 25px;
}

.fadeInUp {
  animation: fadeInUp 0.3s ease;
}

.MuiSnackbarContent-message {
  max-width: 300px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #ffffff; /* White text for snackbar */
}

.pulse {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  box-shadow: 0 0 0 rgba(220, 53, 69, 1);
  -webkit-animation: pulse 2s infinite;
  animation: pulse 2s infinite;
  border: 3px solid rgba(255, 255, 255, 0.7);
}

/* Font Awesome Adjustments */
.fa {
  color: #ffffff; /* White icons */
}

.fa:hover {
  color: #1cac1d; /* Primary color on hover */
}

/* Animations */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes pulse {
  0% {
    transform: scale(0.9);
    opacity: 1;
  }
  100% {
    transform: scale(1.2);
    opacity: 0;
  }
}
